<div class="form-group form-group-solid">

    <label class="mb-2 {{labelClass}}" *ngIf="label">
        {{label}}
    </label>

    <div class="input-group input-group-md mb-1 d-flex align-items-center" style="min-height: 41px;">
        <mat-slide-toggle [formControl]="control" class="custom-slide-toggle">{{placeholder}}</mat-slide-toggle>
    </div>

    <label class="mb-0 d-block light-label" *ngIf="subLabel">
        {{subLabel}}
    </label>

    <div class="invalid-feedback animated fadeInUp d-none" [class.d-block]="controlHasError('required')">
        Esta información es requerida
    </div>

</div>