@import "../../../assets/scss/utils/variables";

:host {
    .form-group-solid {
        label {
            font-weight: 300;
            color: #7e7e7e;
            font-size: $font-size-1;
        }

        .form-control {
            color: $black;
            background-color: #F9F9F9;
            border-radius: 0.45rem !important;
        }

        .position-relative {
            textarea:focus {
                outline: none;
                border-color: $secondary;
                box-shadow: $box-shadow-inputs;
            }
        }


    }

    mat-hint {
        position: absolute;
        right: 12px;
        top: 6px;
        color: $color-gray;
        font-weight: 400;
        font-family: $font-2;
        font-size: $font-size-4;
    }

}