<div class="mat-snackbar p-3 d-flex justify-content-between "
    [ngClass]="{'color-success': data.type == 0, 'color-warning': data.type == 1, 'color-info': data.type == 2, 'color-danger': data.type == 3 }">
    <div class="d-flex justify-content-start" style="gap: 10px;">
        <span class="ps-2 align-self-center"> {{data.message}}</span>
    </div>

    <div class="mat-snackbar-close ">
        <button class="btn-icon-svg" (click)="onDismissWithAction()">
            <span [ngClass]="{'svg-icon-white': data.type == 0 ||data.type == 3 , 'svg-icon-danger': data.type == 1}"
                class="svg-icon">
                x
            </span>
        </button>
    </div>
</div>