@import "../../../assets/scss/utils/variables";

:host {
    .mat-snackbar {
        border-radius: 10px !important;

    }

    .mat-snackbar {
        font-size: $font-size-3;
        font-weight: 400;
    }

    .mat-snackbar-close {
        font-size: $font-size-3;
        font-weight: 400;
    }

    .color-success {
        background-color: $color-success;
    }

    .color-warning {
        background-color: $color-warning;
        color: $black ;
    }

    .color-danger {
        background-color: $color-danger ;
    }

    .color-info {
        background-color: $color-blue;
    }

}