@import "../../../assets/scss/utils/variables";

:host {
    .container-btn {
        position: relative;

        .btn-icon-round-svg {
            transition: 0.3s;
            border-radius: 50%;
            padding: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.bg-primary {
                background-color: #1976d2;
            }

            &.bg-secondary {
                background-color: #e0f7fa;
            }

            .custom-icon {
                font-size: 24px; // Tamaño más pequeño del ícono
                color: $secondary; // Color inicial del ícono
                transition: color 0.3s; // Suaviza el cambio de color
            }

            &:hover {
                background-color: darken(#1976d2, 10%); // Color de fondo al pasar el cursor
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); // Sombra al hacer hover

                .custom-icon {
                    color: $third; // Cambia el color del ícono al pasar el cursor
                }
            }
        }

        // Tamaños específicos para el botón
        &.size-md .btn-icon-round-svg {
            width: 48px;
            height: 48px;
        }

        &.size-sm .btn-icon-round-svg {
            width: 36px;
            height: 36px;
        }
    }
}