@import "../../../assets/scss/utils/variables";

:host {
    .card {
        border-radius: 10px !important;
        border: none;

        .card-body {
            padding: 10px;
            display: flex;
            gap: 5px;

            .card-title {
                font-size: 0.9rem;
                color: #082A41;
                margin: 0;
                max-width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .card-text {
                font-size: 0.8rem;
                color: $color-gray;
                margin-bottom: 0;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}